//Buttons
.button_primary{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	width: 170px;
	background-color: #ed7745;
	color: white;
	border: 1px solid #ed7745;
	border-radius: 5%;
}
.button_secondary{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	width: 170px;
	background-color: white;
	color: #ed7745;
	border: 1px solid #ed7745;
	border-radius: 5%;
}
.small{
	height: 40px;
	width: 100px;
}
.lg{
	height: 40px; 
	width: 300px; 
}
.button_primary:hover{
	background-color: white;
	pointer: pointer;
	border: 1px solid #ed7745;
	border-radius: 5%;
	color: #ed7745;
}

.button_secondary:hover{
	background-color: #ed7745;
	pointer: pointer;
	border: 1px solid #ed7745;
	border-radius: 5%;
	color: white;
}