div.head-row{
	height: 50px;
	.col-2{
		line-height: 50px;
	}
}
div.header{
	span{
		h1#title{
			font-size: 2.5rem;
		}
	}
}
h2.category-name{
	font-size: 1.5rem;
}
img#big{ 
	margin-left: 5px;
	margin-right: 5px;
}